<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-content>
        <div class="header">
          <mat-card-title>პაციენტების სია</mat-card-title>
          <button [routerLink]="['add-update']" mat-fab color="primary">
            <mat-icon>note_add</mat-icon>
          </button>
        </div>

        <!-- <mat-form-field appearance="standard">
          <mat-label>ფილტრი</mat-label>
          <input matInput placeholder="დაწერე ტექსტი" [formControl]="search" />
        </mat-form-field> -->

        <br>

        <table mat-table [dataSource]="list" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ვიზიტის No</th>
            <td mat-cell *matCellDef="let element">
              {{ element.id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>სახელი გვარი</th>
            <td mat-cell *matCellDef="let element">
              {{ element.patient.firstname + ' ' + element.patient.lastname }}({{element.patientId}})
            </td>
          </ng-container>

          <ng-container matColumnDef="doctorName">
            <th mat-header-cell *matHeaderCellDef>ექიმი</th>
            <td mat-cell *matCellDef="let element">
              {{ element.doctor.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>დაბ. დღე</th>
            <td mat-cell *matCellDef="let element">
              {{ element.visit_date | date: 'dd/MM/yyyy HH:mm' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>ფასი</th>
            <td mat-cell *matCellDef="let element">{{ element.price }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            [routerLink]="['add-update']"
            [queryParams]="{ id: row.id }"
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
        </table>

        <mat-paginator
          [length]="listLength"
          [pageSize]="paging.take"
          [pageIndex]="paging.page"
          [pageSizeOptions]="[10, 20, 30, 50]"
          (page)="handlePageChange($event)"
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- ============================================================== -->
